
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.class
target/classes/META-INF/DesignPattern.kotlin_module
